.card {
  /* creating the "card" effect using shadows and content area _box sizing*/
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.932);
  transition: 0.3s;
  width: 40%;
}

/* changing the shadow contrast when hovering over pic with mouse */
.card:hover {
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.932);
}

/* create padding inside the card container */
.container {
  padding: 10px 90px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 95%;
  }

